body {
    font-size: 0.8rem;
    -webkit-print-color-adjust: exact;
    width: 100%;
}

a:link {
    text-decoration: none;
    color: #000;
}

a:visited {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
    color: #000;
}

a:active {
    text-decoration: underline;
    color: #000;
}

.selected {
    text-decoration: underline !important;
}

.nav {
    position: relative;
    float: left;
    padding-right: 5mm;
    max-width: 30%;
}

.wrapper {
    width: 190mm;
    border: 1px solid black;
    margin-left: 5mm;
    position: relative;
    float: left;
}

h1, h2 {
    background-color: #008000;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 10mm 0 9mm 0;
}

h1 {
    font-size: 30pt;
}

h2 {
    margin-top: 3%;
    width: 100%;
    font-size: 20pt;
    border-bottom: 5px solid #fff;
    border-top: 5px solid #fff;
}

.hide {
    display: none;
}

.mobile-show {
    display: none;
}

.content {
    display: flow-root;
}

.rules > div {
    border: 1px solid #ffffe6;
    box-shadow: 5px 5px 10px #bababa;
    border-radius: 10px;
    padding: 15px 10px 5px 15px;
    margin: 15px 10px;
    background-color:#ffffe6;
    
    display: flex;

    > div:first-child {
        border-right: 1px solid black;
    }

    > div:last-child {
        margin-left: 1px;

        display: flex;
        flex-direction: column;

        > div:not(:first-child) {
            border-top: 1px solid black;;
        }
    }
}

.rules img {
    height: 32px;
}

.footer {
    color: darkgray;
    a {
        color: darkgray;
    }
}


@media screen and (max-width: 1150px) {

    .mobile-hide {
        display: none;
    }

    .mobile-show {
        display: block;
    }

    h1, h2 {
        font-size: 7vw;
        padding: 4mm 0 2mm;
        line-height: normal;
        border-top: 0;
        border-bottom: 0;
    }

    .nav-hide-button {
        margin: 0 auto 10px;
    }

    .nav {
        max-width: 100%;
    }

    .nav-ul {
        li {
            padding: 16px 0 0 0;
        }
    }

    .wrapper {
        height: auto;
        width: auto;
        border: 0;
        margin-left: 0;
    }

    .boxed {
        width: auto;
        margin-left: 10mm;
    }

    .left, .right {
        float: none;
    }

    .left {
        width: auto;
    }
}


@media print {

    .mobile-show {
        display: none;
    }

    .nav {
        display: none;
    }

    h1 {
        display: none;
    }

    h2 {
        background-color: #000;
        margin: 0 auto 0;
    }

    h3 {
        color: #000;
    }

    .wrapper {
        margin: 0;
        padding: 0;
        border: none;
        height: 277mm;
        width: 210mm;
    }

    html {
        height: 277mm;
        width: 210mm;
    }

    body {
        height: 277mm;
        width: 210mm;
    }

    .boxed {
        border: 1px solid #000;
        box-shadow: none;
        border-radius: none;
        background-color: #fff;

    }

    img {
        display: none;
    }

    .wrapper::before {
        content: "";
        display: block;
        height: 150px;
        width: 100%;
    }

    .platzhalter {
        display:none;
    }

}