{%- extends "master.html" -%}
{%- block content -%}


<h2>{{itemdata.name}}</h2>

<img src="static/img/step-{{ itemdata.step }}.svg"/>

<div class="rules">
	<div>
		<div><b>Kontaktbeschränkungen</b> (Geimpfte sowie genesene Personen werden nicht mitgezählt. Paare, die nicht zusammenleben, zählen als ein Haushalt.)</div>
		{% if itemdata.step == 1 %}<div>max. 25 Personen</div>
		{% elif itemdata.step <= 3 %}<div>4 Haushalte, max. 15 Personen (Kinder dieser Haushalte und bis zu 5 weitere Kinder bis einschließlich 13 Jahre zählen nicht mit.)</div>
		{% else %}<div>2 Haushalte, max. 5 Personen (Kinder dieser Haushalte bis einschließlich 13 Jahre zählen nicht mit.)</div>
		{% endif %}
	</div>

	<div>
		<div><b>Private Veranstaltungen</b> Ohne Abstandsgebot und ohne Maskenpflicht (wie Geburtstage, Hochzeitsfeiern etc.) <img src="static/img/dv.svg" title="Datenverarbeitung erforderlich"><img src="static/img/hk.svg" title="Hygienekonzept erforderlich"></div>
		{% if itemdata.step == 1 %}<div>
			<div>Im Freien: max. 300 Personen</div>
			<div>In geschlossenen Räumen: max. 300 Personen <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		</div>
		{% elif itemdata.step == 2 %}<div>
			<div>Im Freien: max. 200 Personen</div>
			<div>In geschlossenen Räumen: max. 200 Personen <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		</div>
		{% elif itemdata.step == 3 %}<div>Im Freien und in geschlossenen Räumen: max. 50 Personen <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		{% else %}<div>Im Freien und in geschlossenen Räumen: max. 10 Personen <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		{% endif %}
	</div>

	<div>
		<div><b>Öffentliche Veranstaltungen</b> (wie Theater, Oper, Konzert, Flohmarkt, Stadtfest etc.) <img src="static/img/dv.svg" title="Datenverarbeitung erforderlich"><img src="static/img/hk.svg" title="Hygienekonzept erforderlich"></div>
		{% if itemdata.step == 1 %}<div>
			<div>Im Freien: max. 1.500 Personen; über 300 Personen <img src="static/img/mp.svg" title="Zusätzliche Maskenpflicht"> In geschlossenen Räumen: max. 500 Personen</div>
			<div>Oder: max. 50 % der Kapazität ohne Abstandsgebot <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet">; max 25000 Personen</div>
		</div>
		{% elif itemdata.step == 2 %}<div>
			<div>Im Freien: max. 750 Personen; über 200 Personen <img src="static/img/mp.svg" title="Zusätzliche Maskenpflicht"> In geschlossenen Räumen: max. 250 Personen</div>
			<div>Oder: max. 50 % der Kapazität ohne Abstandsgebot <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet">; max 25000 Personen</div>
		</div>
		{% elif itemdata.step == 3 %}<div>
			<div>Im Freien: max. 500 Personen <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet">; über 200 Personen mit <img src="static/img/mp.svg" title="Zusätzliche Maskenpflicht"></div>
			<div>In geschlossenen Räumen: max. 200 Personen mit <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		</div>
		{% else %}<div>
			<div>Im Freien: max. 250 Personen <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet">; über 200 Personen mit <img src="static/img/mp.svg" title="Zusätzliche Maskenpflicht"></div>
			<div>In geschlossenen Räumen: max. 100 Personen mit <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		</div>
		{% endif %}
	</div>

	<div>
		<div><b>Freizeiteinrichtungen</b> (wie Freizeitparks, Hochseilgärten, Schwimmbäder etc.) <img src="static/img/dv.svg" title="Datenverarbeitung erforderlich"><img src="static/img/hk.svg" title="Hygienekonzept erforderlich"></div>
		{% if itemdata.step <= 2 %}<div>Im Freien und in geschlossenen Räumen ohne Beschränkung der Personenanzahl</div>
		{% elif itemdata.step == 3 %}<div>Im Freien und in geschlossenen Räumen: 1 Person je angefangene 10 m² <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		{% else %}<div>
			<div>Im Freien: 1 Person je angefangene 20 m² <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
			<div>In geschlossenen Räumen: geschlossen</div>
		</div>
		{% endif %}
	</div>

	<div>
		<div><b>Außerschulische und berufliche Bildung</b> (wie Volkshochschulen, Jungendkunstschulen, Musikschulen etc.) <img src="static/img/dv.svg" title="Datenverarbeitung erforderlich"><img src="static/img/hk.svg" title="Hygienekonzept erforderlich"></div>
		{% if itemdata.step <= 2 %}<div>Ohne besondere Regelung und ohne Beschränkung der Personenanzahl</div>
		{% elif itemdata.step == 3 %}<div>Ohne Beschränkung der Personenanzahl <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		{% else %}<div>
			<div>Im Freien: max. 100 Personen <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
			<div>In geschlossenen Räumen: max. 20 Personen <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		</div>
		{% endif %}
	</div>

	<div>
		<div><b>Kultureinrichtungen</b> (wie Galerien, Museen, Bibliotheken, Archive, Gedenkstätten etc.) <img src="static/img/dv.svg" title="Datenverarbeitung erforderlich"><img src="static/img/hk.svg" title="Hygienekonzept erforderlich"></div>
		{% if itemdata.step <= 2 %}<div>Im Freien und in geschlossenen Räumen ohne Beschränkung der Personenanzahl</div>
		{% elif itemdata.step == 3 %}<div>Im Freien und in geschlossenen Räumen: 1 Person je angefangene 10 m² <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		{% else %}<div>Im Freien und in geschlossenen Räumen: 1 Person je angefangene 20 m² <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		{% endif %}
	</div>

	<div>
		<div><b>Gastronomie und Vergnügungsstätten</b> (wie Restaurants, Kneipen, Imbisse, Spielhallen etc.) <img src="static/img/dv.svg" title="Datenverarbeitung erforderlich"><img src="static/img/hk.svg" title="Hygienekonzept erforderlich"></div>
		{% if itemdata.step == 1 %}<div>Ohne besondere Regelung und ohne Beschränkung der Personenanzahl</div>
		{% elif itemdata.step == 2 %}<div>Ohne besondere Regelung und ohne Beschränkung der Personenanzahl. In geschlossenen Räumen: Rauchverbot</div>
		{% elif itemdata.step == 3 %}<div>
			<div>Im Freien: ohne Beschränkung der Personenanzahl</div>
			<div>In geschlossenen Räumen: 1 Person je 2,5 m² <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"> + Rauchverbot</div>
		</div>
		{% else %}<div>
			<div>Im Freien: ohne Beschränkung der Personenanzahl <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
			<div>In geschlossenen Räumen: 1 Person je 2,5 m² <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"> + Rauchverbot</div>
		</div>
		{% endif %}
	</div>

	<div>
		<div><b>Betriebskantinen und Mensen</b> <img src="static/img/dv.svg" title="Datenverarbeitung erforderlich"><img src="static/img/hk.svg" title="Hygienekonzept erforderlich"></div>
		{% if itemdata.step <= 3 %}<div>Nutzung durch Angehörige der Einrichtung ohne besondere Regelungen gestattet</div>
		{% else %}<div><img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		{% endif %}
	</div>

	<div>
		<div><b>Einzelhandel</b> (sowie Dienstleistungs-/Handwerksbetriebe mit Kundenverkehr) <img src="static/img/hk.svg" title="Hygienekonzept erforderlich"></div>
		{% if itemdata.step <= 2 %}<div>Ohne besondere Regelungen</div>
		{% elif itemdata.step == 3 %}<div>
			<div>Im Freien: keine Personenbeschränkung</div>
			<div>In geschlossenen Räumen: 1 Person je angefangene 10 m²</div>
		</div>
		{% else %}<div>
			<div>Im Freien: keine Personenbeschränkung, keine Dokumentationspflicht</div>
			<div>In geschlossenen Räumen: 1 Person je angefangene 10 m². Für Einzelhandel, der nicht der Grundversorgung dient: <img src="static/img/dv.svg" title="Datenverarbeitung erforderlich"></div>
		</div>
		{% endif %}
	</div>

	<div>
		<div><b>Körpernahe Dienstleistungen</b><img src="static/img/hk.svg" title="Hygienekonzept erforderlich"></div>
		{% if itemdata.step <= 3 %}<div>Wenn Maske nicht dauerhaft getragen werden kann, mit <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		{% else %}<div>Wenn Maske nicht dauerhaft getragen werden kann, mit <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"> <img src="static/img/dv.svg" title="Datenverarbeitung erforderlich"></div>
		{% endif %}
	</div>

	<div>
		<div><b>Messen</b> <img src="static/img/dv.svg" title="Datenverarbeitung erforderlich"><img src="static/img/hk.svg" title="Hygienekonzept erforderlich"></div>
		{% if itemdata.step == 1 %}<div>
			<div>Im Freien und in geschlossenen Räumen: 1 Person je angefangene 3 m²</div>
			<div>Oder: ohne Beschränkung der Personananzahl mit <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		</div>
		{% elif itemdata.step == 2 %}<div>
			<div>Im Freien und in geschlossenen Räumen: 1 Person je angefangene 7 m²</div>
			<div>Oder: 1 Person je angefangene 3 m² <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		</div>
		{% elif itemdata.step == 3 %}<div>Im Freien und in geschlossenen Räumen: 1 Person je angefangene 10 m² <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		{% else %}<div>Im Freien und in geschlossenen Räumen: 1 Person je angefangene 20 m² <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		{% endif %}
	</div>

	<div>
		<div><b>Beherbergung</b> <img src="static/img/dv.svg" title="Datenverarbeitung erforderlich"><img src="static/img/hk.svg" title="Hygienekonzept erforderlich"></div>
		{% if itemdata.step <= 2 %}<div>Ohne zusätzliche Regelungen</div>
		{% else %}<div>mit <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"> bei Anreise und anschließendem Testnachweis alle 3 Tage</div>
		{% endif %}
	</div>

	<div>
		<div><b>Touristischer Verkehr</b> wie Schifffahrt, Seilbahnen, touristischer Busverkehr etc.)<img src="static/img/dv.svg" title="Datenverarbeitung erforderlich"><img src="static/img/hk.svg" title="Hygienekonzept erforderlich"><img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		{% if itemdata.step == 1 %}<div>Ohne zusätzlihce Regelungen</div>
		{% elif itemdata.step == 2 %}<div>
			<div>75% der Kapazität ohne 3G</div>
			<div>100% der Kapazität mit <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		</div>
		{% elif itemdata.step == 3 %}<div>max. 75% der zulässigen Fahrgastanzahl</div>
		{% else %}<div>max. 50% der zulässigen Fahrgastanzahl</div>
		{% endif %}
	</div>

	<div>
		<div><b>Diskotheken</b> (Resultate der Modellprojekte sollen abgewartet werden, um eventuell weitere Erleichterungen zu ermöglichen.)</div>
		{% if itemdata.step == 1 %}<div>30% der Kapazität mit <img src="static/img/dv.svg" title="Datenverarbeitung erforderlich"><img src="static/img/hk.svg" title="Hygienekonzept erforderlich"><img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		{% else %}<div>Geschlossen</div>
		{% endif %}
	</div>

	<div>
		<div><b>Prostitutionsstätten</b> <img src="static/img/dv.svg" title="Datenverarbeitung erforderlich"><img src="static/img/hk.svg" title="Hygienekonzept erforderlich"></div>
		{% if itemdata.step == 1 %}<div><img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		{% elif itemdata.step == 2 %}<div> Person je angefangene 10 m² mit <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"> Raumnutzung nur durch 2 Personen</div>
		{% else %}<div>Geschlossen</div>
		{% endif %}
	</div>

	<div>
		<div><b>Sport</b> (Für Sportstätten gelten die zusätzlichen Vorgaben der Corona-Verordnung Sport.) <img src="static/img/dv.svg" title="Datenverarbeitung erforderlich"><img src="static/img/hk.svg" title="Hygienekonzept erforderlich"></div>
		{% if itemdata.step <= 2 %}<div>Im Freien und in geschlossenen Räumen: ohne zusätzliche Regelungen</div>
		{% elif itemdata.step == 3 %}<div> Im Freien und in geschlossenen Räumen: keine Personenbeschränkung mit <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		{% else %}<div>
			<div>Im Freien: max. 25 Personen mit <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"> Geimpfte und genesene Personen werden nicht mitgezählt.</div>
			<div>In geschlossenen Räumen: max. 14 Personen mit <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"> Geimpfte und genesene Personen werden nicht mitgezählt.</div>
		</div>
		{% endif %}
	</div>

	<div>
		<div><b>Wettkampfveranstaltungen im Sport</b> <img src="static/img/dv.svg" title="Datenverarbeitung erforderlich"><img src="static/img/hk.svg" title="Hygienekonzept erforderlich"></div>
		{% if itemdata.step == 1 %}<div>
			<div>Im Freien: max. 1.500 Personen über 300 Personen <img src="static/img/mp.svg" title="Zusätzliche Maskenpflicht"></div>
			<div>In geschlossenen Räumen: max. 500 Personen</div>
			<div>Oder: max. 50 % der Kapazität ohne Abstandsgebot mit <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet">; max 25000 Personen</div>
		</div>
		{% elif itemdata.step == 2 %}<div>
			<div>Im Freien: max. 750 Personen über 200 Personen <img src="static/img/mp.svg" title="Zusätzliche Maskenpflicht"></div>
			<div>In geschlossenen Räumen: max. 250 Personen</div>
			<div>Oder: max. 50 % der Kapazität ohne Abstandsgebot mit <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet">; max 25000 Personen<</div>
		</div>
		{% elif itemdata.step == 3 %}<div>
			<div>Im Freien: max. 500 Personen mit <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet">; Über 200 Personen <img src="static/img/mp.svg" title="Zusätzliche Maskenpflicht"></div>
			<div>In geschlossenen Räumen: max. 200 Personen mit <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		</div>
		{% else %}<div>
			<div>Im Freien: max. 250 Personen mit <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet">; Über 200 Personen <img src="static/img/mp.svg" title="Zusätzliche Maskenpflicht"></div>
			<div>In geschlossenen Räumen: max. 100 Personen mit <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		</div>
		{% endif %}
	</div>

	<div>
		<div><b>Stadt- und Volksfeste mit Fahrgeschäften</b> (Festzelte und Freilichtbühnen verboten)</div>
		{% if itemdata.step <= 2 %}<div>Ohne zusätzliche Beschränkungen</div>
		{% elif itemdata.step == 3 %}<div> Person pro 10 m² für den Publikumsverkehr vorgesehene Fläche mit: <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		{% else %}<div> Person pro 20 m² für den Publikumsverkehr vorgesehene Fläche mit: <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"></div>
		{% endif %}
	</div>

	<div>
		<div><b>Präsenzveranstaltungen an Hochschulen </b> <img src="static/img/dv.svg" title="Datenverarbeitung erforderlich"><img src="static/img/hk.svg" title="Hygienekonzept erforderlich"> Regelmäßiges Lüften notwendig</div>
		{% if itemdata.step <= 3 %}<div>
			<div>Mit Abstand: ohne 3G und ohne Personenbeschränkung</div>
			<div>Ohne Abstand: max 35 Personen oder 75% der Kapazität mit: <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"><img src="static/img/mp.svg" title="Zusätzliche Maskenpflicht"></div>
		</div>
		{% else %}<div>
			<div>Mit Abstand: ohne 3G und ohne Personenbeschränkung</div>
			<div>Ohne Abstand: max 35 Personen oder 60% der Kapazität mit: <img src="static/img/3g.svg" title="Nachweislich geimpft, genesen oder getestet"><img src="static/img/mp.svg" title="Zusätzliche Maskenpflicht"></div>
		</div>
		{% endif %}
	</div>

</div>

{% endblock -%}