<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8"/>
	<title>Corona BW</title>
	<link rel="stylesheet" href="static/normal.css"/>
	<link rel="stylesheet" href="static/style.css"/>
	<link rel="icon" href="static/favicon.ico" type="image/x-icon" /> 
	<script type="text/javascript" src="static/scripts/master.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1>Coronainfos Baden-Württemberg</h1>
	<input type="button" class="mobile-show nav-hide-button" id="navigation-unhide" value="Navigation"/>
	<div class="content">
		<div class="nav {% if itemdata %}mobile-hide{% endif %}">

			{%- for ags, value in data.incidence.items() %}
			<ul>
				<li><a class="navoption {%- if itemdata and itemdata.name == value.name %} selected{% endif %}" href='{{ ags }}.html'>{{ value.name }} <img src="static/img/step-{{ value.step }}.svg"/></a></li>
			</ul>
			{%- endfor -%}	

		</div>
		
		{%- if itemdata -%}
		<div class="wrapper">
			{%- block content -%}{%- endblock -%}
		</div>
		{%- endif %}
	</div>
	
	<div class="footer">
		<p>Zuletzt aktualisiert am: {{ data.timestamp }}</p>
		<p>Diese Seite ist eine Zusammenfassung der Corona-Verordnung vom 26.07.2021 von Baden-Württemberg.
		Die offizielle Verordnung ist <a href="https://www.baden-wuerttemberg.de/de/service/aktuelle-infos-zu-corona/aktuelle-corona-verordnung-des-landes-baden-wuerttemberg/">hier</a> zu finden</p>
		<p>Fehler oder Probleme können über <a href="https://gitlab.com/huettner94/corona-bw/-/issues">Gitlab</a> oder via <a href="mailto:incoming+huettner94-corona-bw-27870730-issue-@incoming.gitlab.com">E-Mail</a> gemeldet werden.</p>
	</div>
</body>
</html>
